@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotify-green: #1DB954;
  --spotify-dark: #191414;
  --spotify-light: #B3B3B3;
  --spotify-black: #000000;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--spotify-dark);
  color: white;
}
/* capture freeze to disable animations/transitions during export */
.capture--freeze *, .capture--freeze *::before, .capture--freeze *::after {
  animation: none !important;
  transition: none !important;
}
